# Test and Compiler files
**test.json
!policy_manifest.test.json
**test.js

# Distribution folders
global-s3-assets
regional-s3-assets
open-source

# Generated ouputs
dist
coverage
docs
npm-debug.log
*.zip
.scannerwork
*.xml
reports
.DS_Store

# Node dependencies
node_modules
*.js
!jest.config.js
*.d.ts


# CDK asset staging directory
.cdk.staging
cdk.out
__snapshots__

# IDE project files
.idea


